{% load crispy_forms_tags %}
<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row" style="margin: 10% 2%;place-content:center">
                <div class="col-3">
                    <h1>Login</h1>
                    <form method="POST">
                        <div style="margin-bottom: 10%;">
                        {% csrf_token %}
                        {{ form }}
                        </div>
                        <br>
                        <button class="btn btn-info">logar</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>