{% extends 'livro/base.html' %}

{% block content %}
<div class="row">
    {% for livro in shelf %}
    <div class="col-md-3" style="padding-bottom: 30px;">
            <div class="card h-100 mt-20">
                <img class="panel-img" src="{{livro.figura.url}}" alt="book cover" width="max-width: 100%"
                height="400px">
                <div class="card-body" style="padding-bottom: 0px;">
                        <h3>
                            <a href="{% url 'livro:livro' livro_id=livro.id %}"> {{livro.nome}}
                            </a>
                        </h3>
                        <h6>{{ livro.autor}}</h6>
                        <p>{{ livro.descricao|truncatechars:70 }}</p>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="card-footer bg-transparent">
                        {% if perms.livro.change_livro  %}
                        <a href="{% url 'livro:update-livro' livro_id=livro.pk %}" class="btn btn-warning">Edit</a>
                        {% endif %}
                        {% if perms.livro.delete_livro  %}
                        <a href="{% url 'livro:delete-livro' livro_id=livro.pk %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                        {% if perms.livro.view_livro  %}
                        <a href="{% url 'livro:download-livro' livro_id=livro.pk %}" class="btn btn-success">Download</a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
</div>

{{ user.get_all_permissions }}
            {% endblock %}